<h1>New Post</h1>

<%= form_with model: @post, local: true do |form| %>

  <div>  
    <%= form.label :title%>
    <%= form.text_field :title, id: :title%>
  </div>

  <div>
    <%= form.label :body%>
    <%= form.text_area :body%>
  </div>
  <div>
    <%= form.submit %>
  </div>  

<% end %>